<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Parkingpins" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Parkingpins" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>    
  <%= render 'layouts/messages' %>
  <%= yield %>        
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-7 footer-copyright">
          <p>&copy; Quadris Bootstrap Template by <a href="http://azmind.com" target="_blank">Azmind</a><br>All rights reserved.</p>
        </div>
        <div class="col-sm-5 footer-social">
          <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href=""></a>
          <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href=""></a>
          <a class="ultm ultm-google-plus-1 ultm-48 ultm-square ultm-gray-to-color" href=""></a>
          <a class="ultm ultm-dribbble ultm-48 ultm-square ultm-gray-to-color" href=""></a>
          <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href=""></a>
        </div>
      </div>
    </div>
  </footer> 
</body>
</html>
